.fixtures {
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; // Ensures the content is centered vertically within the viewport
  
    h1 {
      margin-bottom: 25px; // Space below the heading
      margin-top: 90px;
      font-size: 2.6rem;
    }

    .h1{
      color:#B50000;
    }
  
    .fixture-card {
      margin: 10px 0; // Space between each FixtureCard
    }
  }
  